
main {
  margin-bottom: 50px;
  font: white;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/assets/images/background3.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

header{
  padding: 30px;
  margin: 30px;
  border: 5px solid black;
  background-color: black;
  opacity: 65%;
}

.page-container {
  flex: 1 0 auto; /* This allows the container to grow in the available space */
}


.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.dropdown {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-button {
  cursor: pointer;
  font-family: 'Handjet', cursive;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #290c88;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  max-height: 150px;
  overflow: auto;
  z-index: 1000;
}

.dropdown-content a {
  color: white;
  background-color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c191f6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#explainEL {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
}




.style-box {
  list-style: none;
  padding: 10%;
  opacity: 80%;
  font-size: large;
  color: white;
  border-radius: 8%;
  }

#dataHeader {
  background-color: grey;
  height: 50px;
}

#dataSect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10%;
  color: whitesmoke;
}

  #dataDropdown {
    height: 50px;
    width: 30%;
  }

    .data-center-wrapper {
      width: 50px;
      height: 50px;
      margin: 0px 0px 0px 50px;
      min-width: none;
    }

    .data-dropdown-button {
      cursor: pointer;
      font-family: 'Handjet', cursive;
      background-color: black;
      color: white;
      font-size: large;
      text-align: center;
      white-space: nowrap;
      padding: 40%;
      margin-left: 40px;
      border-radius: 10px;
    }
  

  #inputInfo {
    height: 100px;
    width: 70%;
  }


#textarea {
  margin: 20px;
  font-size: large;
}


#dataMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
}

  #inputPlanet {
    width: 49%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
    

    img{
      max-height: 200px;
      display: flex;
      justify-content: end;
      border-color: 5px solid black;
    }
  

  /* #earthInfo {
    width: 49%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    opacity: 80%;
  }

    #earth-photo{
      display: flex;
      max-width: 200px;
      max-height: 200px;
      justify-content: right;
    } */


/* earth card */
.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

/* controls rotation */
.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  
}

#earth-photo,
#earthInfo,
#planet-data-container,
#inputPlanet {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  
}

#earth-photo {
  background-image: url(/assets/images/earth.png);
}

#earthInfo,
#planet-data-container {
  font-size: 20px;
  background-image: url(/assets/images/background3.png);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  
}
    
#planet-data{
  overflow-y: auto;
  scrollbar-color: black;
}

footer {
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 65%;
}